body {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("tictac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}

#cover {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    background: transparent;
    backdrop-filter: blur(5px);

}

.btn {
    width: 100px;
    height: 100px;
    background-color: #7D8491;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 12px;
    
}
.btn:hover{
    width: 102px;
    height: 102px;
}

.btn.winner {
    background-color: rgb(46, 225, 46);
}

#reset{
    width: 65px;
    height: 35px;
    margin-top: 20px;
    font-size: medium;
    border-radius: 7px;
    background-color: #3b465c;
    color: white;
}

#reset:hover{
    width: 57px;
    height: 27px;
}

#message {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: darksalmon;
}